@import "variables";
@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap';
@import 'https://cdn.lineicons.com/2.0/LineIcons.css';
@import 'slick';
@import 'slick-theme';

html{
	font-size:1em;
	max-width:100%;
  height:100%;
  @media only screen and (min-width:992px) and (max-width:1439px){
    font-size: 14px;
  }
}

body {
	overflow-x:hidden !important;
	font-size:1rem;
	font-family: $baseFont;
	background: $lightgray;
	max-width:100%;
	font-weight:400;
  line-height: 1.5;
  letter-spacing: .3px;
  color: $textcolor;
}
.noscroll{
    overflow-y:hidden !important;
}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: $primaryColor;
}
::selection {
    color: #fff; 
    background: $primaryColor;
}
a,button{
	@include transit(0.3s);
	&:active,&:focus,&:visited,&:hover{
		text-decoration:none;
    outline:none;
	}
}
@for $i from 1 through 6{
	h#{$i}{
		margin:0;
	}
}
/**Slick scollbar css**/
.slick-scroll{
  &::-webkit-scrollbar-track
  {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #F5F5F5;
  }
  &::-webkit-scrollbar
  {
      width: 6px;
      height: 6px;
      background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb
  {
      background-color: #ccc;
  }
}

.btn-primary{
  background-color: $primaryColor;
  border:none;
}
.text-primary{
  color: $primaryColor;
}
p{
  margin: 0;
}
.border-none{
  border:none;
}
.text-navyblue{
  color: $navyblue;
}
.font-bold{
  font-weight: 600;
}
.font-med{
  font-weight: 500;
}
.small{
  font-size: 85%;
}
.font-5{
  font-size: 1.6rem;
}
.font-4{
  font-size: 1.5rem;
}
.font-3{
  font-size: 1.45rem;
}
.font-2{
  font-size: 1.35rem;
}
.font-1{
  font-size: 1.15rem;
}
.bg-lightgray{
  background: $lightgray;
}
.bg-lightblue{
  background: $lightblue;
}
.text-darkblue{
  color: $navyblue;
}
.badge{
  font-weight: 400;
}
.slick-track{
  margin-left: 0;
  .slick-slide{
    &:focus,&:active{
      outline: 0;
    }
  }
}
.list-type-none{
  list-style-type: none;
}
.search-and-filter{
  .form-control{
    border: none;
    border-bottom: 1px solid transparent;
    &:focus{
      box-shadow: none;
      border-bottom: 1px solid #eee;
    }
  }
  @media only screen and (max-width:575px){
    .search{
      position: relative;
    }
    .search-bar{
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: calc(100vw - 95px);
      border-radius: 5px;
      background: #fff;
      z-index: 30;
      display: none;
    }
  }
}
.user-menu{
  position: relative;
  .user-menu-dropdown{
    position: absolute;
    top: 100%;
    right: 20px;
    z-index: 70;
    display: none;
    min-width: 150px;
    a{
      color: $textcolor;
      border-bottom-color: #dee2e678 !important;
      &:hover{
        color: $primaryColor;
      }
    }
  }
}
.ongoing-course-wrapper{
  @media only screen and (min-width:1200px){
    max-width: 90%;
  }
  .course-summary-wrapper{
    @include transit(.3s);
    &:hover{
      -webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.2) !important;
      -moz-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.2) !important;
      box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.2) !important;
    }
  }
}
.stat-noti{
  position: relative;
  .lni{
    color: $primaryColor;
    position: relative;
    &:after{
      position: absolute;
      content: '\002e';
      font-size: 2rem;
      color: red;
      right: -8px;
      top: -115%;
    }
  }
}
.course-summary-wrapper{
  @extend .bg-lightgray;
  .course-brief{
    position: relative;
    &:after{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5;
      content:'';
    }
    .c-title{
      color:#fff;
    }
    .ct-cat{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px;
      z-index: 10;
      color: #fff;
    }
    .c-cat{
      font-size: 1rem;
    }
    .c-tag{
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      z-index: 10;
      span{
        letter-spacing: .5px;
      }
      p{
        color: #fff;
      }
    }
    .stretched-link::after{
      z-index: 40;
    }
    &.enroll-course{
      .ct-cat{
        bottom: 40px;
      }
    }
  }
  .enroll-link-wrapper{
    max-width: 85%;
    margin: -40px auto 0;
    position: relative;
    z-index: 50;
  }
  .enroll-link{
    &:hover{
      letter-spacing: 1px;
    }
  }
  .chapter-name{
    color: $primaryColor;
  }
  .training-name{
    color: $navyblue;
  }
  .course-stat{
    .lni{
      font-size: 1.4rem;
    }
    p{
      span{
        color: $primaryColor;
      }
    }
    @media only screen and (min-width: 1200px){
      p{
        height: calc(100% / 4);
        border-bottom:1px solid lighten($darkgray,30%);
      }
    }
  }
  &.csw-red{
    .course-brief{
      &:after{
        background: $red;
        opacity: .7;
        @include transit(.3s);
      }
    }
    .c-tag .badge{
      color: $red;
    }
  }
  &.csw-brown{
    .course-brief{
      &:after{
        background: $brown;
        opacity: .7;
        @include transit(.3s);
      }
    }
    .c-tag .badge{
      color: $brown;
    }
  }
  &.csw-purple{
    .course-brief{
      &:after{
        background: $purple;
        opacity: .7;
        @include transit(.3s);
      }
    }
    .c-tag .badge{
      color: $purple;
    }
  }
  &.csw-green{
    .course-brief{
      &:after{
        background: $green;
        opacity: .7;
        @include transit(.3s);
      }
    }
    .c-tag .badge{
      color: $green;
    }
  }
  &:hover{
    .course-brief{
      &:after{
        opacity: .9;
      }
    }
  }
}
.course-progress{
  .course-progress-bar{
    height: 3px;
    display: block;
    position: relative;
    width: 100%;
    background: darken($lightblue, 5%);
    .cp-active{
      position: absolute;
      left: 0;
      top: 0;
      height: 3px;
      width: 34%;
      background: $darkgray;
    }
    .cp-indicator{
      position: absolute;
      left: 34%;
      top: 0;
      svg{
        width: 10px;
        height: 10px;
        path{
          fill: $darkgray;
        }
      }
    }
  }
}
.sidebar-wrapper{
  @media only screen and (max-width: 991px){
    background: #fff;
    border-radius: 5px;
    padding: 12px;
    border-bottom: none;
    height: 100%;
    .border-bottom{
      border-color: rgba(#bdbdbd,.1) !important;
    }
  }
  .sidebar-title,select{
    color: $textcolor;
    font-weight: 300;
    font-size: 1rem;
  }
  .view-link{
    display: inline-block;
    padding: 5px 0;
    color: $navyblue;
    font-size: .9rem;
    &:hover{
      color: $primaryColor;
    }
  }
  .resource-div{
    .lni{
      font-size: 1.4rem;
      @include transit(.3s);
    }
    &:hover{
      a{
        .lni{
            color: $primaryColor;
        }
      }
    }
  }
  .table{
    color: $textcolor;
    strong{
      color: $navyblue;
    }
    td{
      width: 45%;
    }
  }
}
.course-rating{
  .cr-star{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 70px;
    position: relative;
    text-align: center;
    .lni{
      position: relative;
      z-index: 10;
    }
    @include linearGradient($primaryColor,$green);
    z-index: 5;
    &:after{
      position: absolute;
      content: '';
      left: 4px;
      top: 4px;
      right: 4px;
      bottom: 4px;
      border-radius: 50%;
      z-index: 1;
      background: #fff;
    }
    @media only screen and (min-width: 992px){
      width: 100px;
      height: 100px;
      line-height: 110px;
    }
  }
  .rating-count{
    font-size: 2rem;
  }
}
.course-meta{
  @media only screen and (min-width:576px){
    li:nth-child(2){
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }
}
.cd-wrapper{
  background: $lightgray;
  display: none;
}
.cd-tabs{
  overflow-x: auto;
  a{
    color: $textcolor;
    position:relative;
    .lni{
      color: $textcolor;
    }
    &:before{
      position: absolute;
      content:'';
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background: $primaryColor;
      margin: auto;
      width:0;
      @include transit(.3s);
    }
    &:hover,&:focus,&.active{
      color: $navyblue;
    }
    &.active{
      &:before{
        width: 100%;
      }
    }
  }
}
.accordion-wrapper{
  .acc-title{
    cursor: pointer;
    border-bottom: 1px solid rgba(#000,.1);
    @extend .bg-lightblue;
    padding: 1rem;
    @include transit(.3s);
    span,.lni{
      width: 30px;
      font-size: 1.3rem;
      @include transit(.3s);
    }
    &.active{
      background: #fff;
      border-color: transparent;
      span{
        color: $navyblue;
      }
      .lni{
        &:before{
          content: "\ea60";
        }
      }
    }
  }
  .acc-body{
    display: none;
    background: #fff;
  }
  .acc-inner{
    max-width: calc(100% - 85px);
    margin: auto;
  }
  @media only screen and (min-width:768px){
    .acc-title{
      span,.lni{
        width: 60px;
        font-size: 1.5rem;
      }
    }
    .acc-inner{
      max-width: calc(100% - 145px);
    }
  }
}
.course-resource{
  &:hover,&:active,&:focus{
    background: $lightblue;
  }
  @media only screen and (min-width:1200px){
    a{
      opacity: 0;
    }
    &:hover,&:active,&:focus{
      a{
        opacity: 1;
      }
    }
  }
}
.disc-wrapper{
  @include transit(.3s);
  &.in{
    background: #fff;
    padding-left:15px;
    padding-right: 15px;
  }
}
.comments-wrapper{
  background: #fff;
  display: none;
}
.comment-form{
  .form-control{
    height: 42px;
  }
  .file-upload-wrapper{
    position: relative;
    overflow: hidden;
    input[type="file"]{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 60;
      opacity: 0;
    }
  }
}

/*********modal************/ 
.modal {
  position: fixed;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  display:none;
  width: 100%;
  height: 100%;
  .modal-overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.3s, opacity 0.3s;
  }
  .modal-wrapper {
      position: absolute;
      z-index: 9999;
      top: 3em;
      left: 0;
      right: 0;
      max-width: 32em;
      width: 90%;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
  }
  .modal-transition {
      transition: all 0.3s 0.12s;
      transform: translateY(-10%);
      opacity: 0;
  }
  .modal-header {
      position: relative;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
      border-bottom: 1px solid #e8e8e8;
  }
  .modal-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em;
      color: #aaa;
      background: none;
      border: 0;
      &:hover {
          color: #777;
      }
  }
  &.is-visible {
      .modal-overlay {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
      }
      .modal-transition {
          transform: translateY(0);
          opacity: 1;
      }
  }
}   


